.login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 1rem;
    overflow: hidden;
    flex-wrap: wrap-reverse;
}
.container1{
    width: 50%;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.container2{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}
.container2::before{
    content: "";
    position: absolute;
    top: var(--x);
    left: var(--y);
    transform: translate(-50% , -50%);
    background: radial-gradient(#1FCEC3 , transparent , transparent);
    width: 800px;
    height: 800px;
    opacity: 0;
    transition: 0.5s , top 0s , left 0s ;
}

.container2:hover::before{
    opacity: 1;
}


.inputfield{
    width: 100%;
    border-radius: 1.5rem;
    background-color: #1fcec237;
    border: 1px solid #1FCEC3;
    padding: 0.5rem;
    color: white;
}
.icon{
    color: #1FCEC3;
    font-size: large;
}
.label{
    color: #1FCEC3;
}
.loginButton{
    all: unset;
    background-color:#0decdd;
    display: flex;
    border-radius: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    margin-left: -1rem;
}
.loginButton:hover{
    background-color: #1FCEC3;
}
.p1{
    color: white;
    text-align: center;
}
.h1{
    margin: 2rem;
    text-align: center;
    font-weight: 100%;
    font-size: 30px;
    color:#1FCEC3;
    width: 100%;
    font-weight: 500;
}

@media (max-width:800px) {
    .container1{
        width: 100%;
    }
    .container2{
        width: 100%;
    }
    .h1{
        font-size: 20px;
    }
    .loginButton{
        margin-left: -1rem;
    }
}